langchain==0.3.24
langchain-openai==0.3.14
langchain-mongodb==0.6.1
langchain-core==0.3.55
langchain-text-splitters==0.3.8
langchain-community==0.3.22
fastapi==0.115.12
uvicorn==0.34.2
python-dotenv==1.1.0
pydantic==2.11.3
tiktoken==0.9.0
pymongo==4.12.0
pypdf==5.4.0
openai==1.75.0
numpy==2.2.5
python-multipart
matplotlib
seaborn
sympy
